<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @debt.title %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @debt.amount %>
</p>

<%= link_to 'Edit', edit_user_debt_path(@debt) %> |
<%= link_to 'Back', user_debts_path %>
