<% if notice %>
<div class="alert alert-dismissable alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <%= notice %>
</div>
<% end %>
<div class="col-lg-6">

      <h1 id="tables"><%= t('listing_your_debts') %></h1>

      <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th><%= t('title') %></th>
            <th><%= t('amount') %></th>
            <th><%= t('created_by') %></th>
            <th><%= t('issue_date') %></th>
          </tr>
        </thead>

        <tbody>
          <% @debts.each do |debt| %>
            <tr>
              <td><%= debt.title %></td>
              <td><%= debt.amount %></td>
              <td><%= debt.user.name %></td>
              <td><%= debt.created_at.strftime("%d/%m/%Y %H:%M hs") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
</div>
<div class="col-lg-1">
</div>
<div class="col-lg-4">
  <h1><%= t('debts_information') %></h1>

  <table class="table table-striped table-hover ">
    <thead>
      <tr>

      </tr>
    </thead>
    <% @user_debts_amount = 0 %>
    <% @user_owns_amount = 0 %>
    <tbody>
      <tr>
        <th></th>
        <th><%= t('owe_you') %></th>
        <th><%= t('you_owe') %></th>
        <th><%= t('total') %></th>
      </tr>
      <% for @user in @users %>
        <% @user_debt_amount = 0 %>
        <tr>
          <td><%= @user.name %></td>
          <td class="success"> $<%= @user_debt_amount += @user_debts.select{ |debt| debt.owner_id == @user.id }.inject(0){|amount, debt| amount + debt.amount } %></td>
          <% @user_debts_amount += @user_debt_amount %></td>
          <% @own_amount = @user.debts.inject(0) {|amount, debt| (debt.owner_id == current_user.id && !debt.paid) ? amount + debt.amount : amount} %>
          <% @user_owns_amount += @own_amount %></td>
          <% if @own_amount.positive? %>
            <td class="danger"> -$<%= @own_amount %></td>
          <% else %>
            <td> $<%= @own_amount %></td>
          <% end %>
          <% @balance = @user_debt_amount - @own_amount %>
          <% if @balance.positive? %>
            <td class="border-left success">$<%= @balance %></td>
          <% elsif @balance.negative? %>
            <td class="border-left danger">-$<%= @balance.abs %></td>
          <% else %>
            <td class="border-left">$<%= @balance %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
    <thead>
      <tr>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <strong><%= t('total_debts_amount') %></strong>
        </td>
        <td></td>
        <td></td>
        <% @balance = @user_debts_amount - @user_owns_amount %>
        <% if @balance.positive? %>
          <td class="border-left success">$<%= @balance %></td>
        <% elsif @balance.negative? %>
          <td class="border-left danger">-$<%= @balance.abs %></td>
        <% else %>
          <td class="border-left">$<%= @balance %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-lg-6">

    <h1 id="tables"><%= t('listing_your_unpaid_expenses') %></h1>

    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th><%= t('name') %></th>
          <th><%= t('amount') %></th>
          <th><%= t('paid') %></th>
          <th><%= t('created_at') %></th>
        </tr>
      </thead>

      <tbody>
        <% @unpaid_expenses.each do |expense| %>
          <tr>
            <td><%= expense.name %></td>
            <td><%= expense.amount %></td>
            <td><%= expense.paid ? t('yes') : t('no') %></td>
            <td><%= expense.created_at.strftime("%d/%m/%Y %H:%M hs") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
