<%= form_tag(controller: "settings", action: "update", method: "post")  do %>
<% if @user.errors.any? %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h2><%= pluralize(@user.errors.count, "error") %> prohibited these settings from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
  <%= notice %>
</div>
<script type="text/javascript">
  $( document ).ready(function()
  {
    $('.field_with_errors').css ("display","block");
    $('.field_with_errors').css ("background-color","#eee");
    $('.field_with_errors').css ("border-radius","3px");
  });
</script>
<% end %>

<div class="col-lg-6">
  <div class="well bs-component">
    <form class="form-horizontal">
      <fieldset>
        <legend></legend>
        <div class="form-group">
          <%= label_tag :language,t(:language), class:'col-lg-4 control-label'  %>
          <div class="col-lg-8">
            <% @languages = options_for_select([['English', 'en'], ['Español', 'es']],@language) %>
            <%= select_tag :language, @languages, { class: "form-control", required: true } %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-4"></div>
          <div class="col-lg-8">
            <div class="checkbox">
              <label>
                <%= hidden_field_tag :email_notification_enabled, false, id: "" %>
                <%= check_box_tag(:email_notification_enabled,true,@email_notification_enabled) %><span class="checkbox-material"></span> <%= t(:email_notification) %>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
        </div>
        <div class="form-group" id="email_notification_frecuency_wrapper">
          <%= label_tag :email_notification_frecuency,t(:email_notification_frecuency), class:'col-lg-4 control-label' %>
          <div class="col-lg-8">
            <% @email_notification_frecuencies = options_for_select([[t('instantly'), 'instantly'], [t('every_day'), 'every_day'], [t('every_week'), 'every_week']],@email_notification_frecuency) %>
            <%= select_tag :email_notification_frecuency, @email_notification_frecuencies, { class: "form-control", required: true } %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-8 col-lg-offset-4">
            <%= link_to t(:cancel), user_path(@user), class:"btn btn-default" %>
            <button type="submit" class="btn btn-primary"><%= t(:submit) %></button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<% end %>
<script type="text/javascript">
  $(document).ready(() => {
    var checkbox_elem = $('#email_notification_enabled')
    toggle_email_notification_frecuency_wrapper(checkbox_elem)

    checkbox_elem.change(function(){
      toggle_email_notification_frecuency_wrapper($(this))
      console.log($(this).prop('checked'))
    })
  })
  function toggle_email_notification_frecuency_wrapper(checkbox_elem){
    if ($(checkbox_elem).prop('checked'))
      $('#email_notification_frecuency_wrapper').css('display','block')
    else
      $('#email_notification_frecuency_wrapper').css('display','none')
  }
</script>
