<h1>Log in</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="col-lg-6">
  <div class="well bs-component">
    <form class="form-horizontal">
      <fieldset>
        <legend></legend>

        <div class="row">
          <div class="form-group">
            <%= f.label :email , class:'col-lg-2 control-label' %>
            <div class="col-lg-10">
              <%= f.email_field :email, class:'form-control' %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <%= f.label :password , class:'col-lg-2 control-label' %>
            <div class="col-lg-10">
              <%= f.password_field :password, class:'form-control' %>
            </div>
          </div>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="row">
            <div class="form-group">
              <%= f.label :remember_me, class:'col-lg-2 control-label' %>
              <div class="col-lg-10">
                <div class="checkbox">
                  <label>
                    <%= f.check_box :remember_me  %>
                  </label>
                </div>
              </div>
            </div>
          </div>
        <% end -%>

        <div class="row">
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <button type="submit" class="btn btn-primary"><%= t('Login') %></button>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
<% end %>
<%= render "devise/shared/links" %>
